html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1f1f38;
}

a {
  color: inherit;
  text-decoration: none;
}
.main{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  
}
/*section{
  background-color: #2c2c6c;
  position: relative;
  width: 100%;
  height: 50px;
}
*/
.intro{
  position: relative;
  width: 100%;
  background-color: #2c2c6c;
  height: 200px;
}
.footer{
  height: 50px;
  width: 250px;
  background-color: rgba(255,255,255,0.06);
  position: fixed;
  margin: auto;
  top: 80%;
  bottom: 0;
  right: 0;
  left: 0;
  backdrop-filter: blur(10px);
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  border-radius: 25px;
  gap: 4px;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 10px 10px 35px rgba(0,0,0,0.25);
}
nav{
  /*background-color: #4db5ff;*/
  background-color: #2b2159;
  position: relative;
  width: 100%;
  height: 50px;
}
* {
  box-sizing: border-box;
}
.icons{
  position: relative;
  border: none;
  box-shadow: 0;
  backdrop-filter: blur(0px);
  background-color: rgba(255,255,255,0);
  border-radius: 5px;
  outline: none;
  
}
.intro-profile{
  position: relative;
  //border-radius: 50%;
  width: 30rem;
  height: 50rem;
}